[Bb]in/
[Oo]bj/
[Ww]orking/
[Rr]elease/
[Tt]est/
Build/runbuild.txt
TestResults/
packages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
*.bak
*.GhostDoc.xml